/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme_dark {
  --accent-text: #ff0070;
  --title-decor: #ff0070;
  --articles-text: #f1b2ce;
  --title-decor-text: #000028;
  --bg-page: #000028;
  --page-title: #db00ff;
}

.page.theme_dark {
  --accent-text: #ff0070;
  --title-decor: #ff0070;
  --articles-text: #f1b2ce;
  --title-decor-text: #000028;
  --bg-page: #000028;
  --page-title: #db00ff;
  background-color: var(--bg-page);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  .page {
    --accent-text: #ff0070;
    --title-decor: #ff0070;
    --articles-text: #f1b2ce;
    --text-title-decor-text: #000028;
    --bg-page: #000028;
    --page-title: #db00ff;
    background-color: var(--bg-page);
    background-size: cover;
    background-attachment: fixed;
  }

  .header {
    background-image: url(../images/cover-image-dark.png);
  }
}
