/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme_dark {
  --accent-text: #ff0070;
  --title-decor: #ff0070;
  --articles-text: #f1b2ce;
  --title-decor-text: #000028;
  --bg-page: #000028;
  --page-title: #db00ff;
}

.page.theme_dark {
  --accent-text: #ff0070;
  --title-decor: #ff0070;
  --articles-text: #f1b2ce;
  --title-decor-text: #000028;
  --bg-page: #000028;
  --page-title: #db00ff;
  background-color: var(--bg-page);
  background-size: cover;
  background-attachment: fixed;
}

@media (prefers-color-scheme: dark) {
  .page {
    --accent-text: #ff0070;
    --title-decor: #ff0070;
    --articles-text: #f1b2ce;
    --text-title-decor-text: #000028;
    --bg-page: #000028;
    --page-title: #db00ff;
    background-color: var(--bg-page);
    background-size: cover;
    background-attachment: fixed;
  }

  .header {
    background-image: url(../images/cover-image-dark.png);
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(255, 0, 112, 0.40);
  }

  .header__title {
    color: var(--page-title);
    text-shadow: 4px 4px 0px var(--title-decor);
  }

  button:focus-visible {
    border-block-end: 1px solid var(--title-decor);
    outline: none;
  }

  .accent-word:hover {
    border-block-end: 2px solid var(--articles-text);
  }

  .accent-word:focus-visible {
    outline: 1px solid var(--articles-text);
  }
}
