/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme-light {
  --accent-text: #353430;
  --title-decor: #ff0070;
  --articles-text: #353430;
  --bg-page: #fff1f7;
  --bg-dark: #353430;
  --page-title: #ffc2e6;
}

.page.theme_light {
  --accent-text: #353430;
  --title-decor: #ff0070;
  --articles-text: #353430;
  --bg-page: #fff1f7;
  --bg-dark: #353430;
  --page-title: #ffc2e6;
  background-color: var(--bg-page);
  background-size: cover;
  background-attachment: fixed;  
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-text: #353430;
    --title-decor: #ff0070;
    --articles-text: #353430;
    --bg-page: #fff1f7;
    --bg-dark: #353430;
    --page-title: #ffc2e6;
  }
}

.theme_light .header {
  background-image: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.theme_light .title-decor {
  color: var(--accent-text);
  background-color: var(--title-decor);
}

.theme_light .header__theme-menu-button {
  color: var(--accent-text);
}

.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--bg-dark);
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.40);
}

.theme_light .header__theme-menu-button:focus-visible {
  border-block-end-color: var(--bg-dark);
}

.theme_light .header__title {
  color: var(--page-title);
  text-shadow: 4px 4px 0px var(--title-decor);
}

.theme_light .accent-word {
  text-shadow: 2px 1px 0px var(--title-decor);
}

.theme_light a:hover {
  text-decoration-color: var(--bg-dark);
}

.theme_light .article-1__title,
.theme_light .article-2__title,
.theme_light .article-3__title {
  color: var(--accent-text);
}

.theme_light .article-1__object,
.theme_light .article-2__object,
.theme_light .article-3__object {
  color: var(--accent-text);
}

.theme_light .article-1__object-text,
.theme_light .article-2__object-text,
.theme_light .article-3__object-text {
  color: var(--articles-text);
}

.theme_light .article-3__object-action {
  color: var(--accent-text);
}

.theme_light .footer__title {
  color: var(--page-title);
  text-shadow: 2px 2px 0px var(--title-decor);
}