/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme_light {
  --accent-text: #353430;
  --title-decor: #ff8dcb;
  --articles-text: #353430;
  --title-decor-text: #353430;
  --bg-page: #fff1f7;
  --page-title: #ffc2e6;
  --title-shadow: #ff8dcb;
  --title-shadow-desktop: #ff0070;
}

.page.theme_light {
  --accent-text: #353430;
  --title-decor: #ff8dcb;
  --articles-text: #353430;
  --title-decor-text: #353430;
  --bg-page: #fff1f7;
  --page-title: #ffc2e6;
  --title-shadow: #ff8dcb;
  --title-shadow-desktop: #ff0070;
  background-color: var(--bg-page);
  background-size: cover;
  background-attachment: fixed;
}

.theme_light .header {
  background-image: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.theme_light .rec {
  display: none;
}

.theme_light .title-decor {
  color: var(--accent-text);
  background-color: var(--title-decor);
}

.theme_light .decorated-zone::before {
  border-inline-end: 1px solid var(--title-decor-text);
  border-block-start: 1px solid var(--title-decor-text);
}

.theme_light .decorated-zone::after {
  border-inline-start: 1px solid var(--title-decor-text);
  border-block-end: 1px solid var(--title-decor-text);
}

.theme_light .header__theme-menu-button {
  color: var(--accent-text);
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.40);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-text);
}

.theme_light button:focus-visible {
  border-block-end: 1px solid var(--title-decor-text);
  outline: none;
}

.theme_light .accent-word:hover {
  border-block-end: 2px solid var(--accent-text);
}

.theme_light .accent-word:focus-visible {
  outline: 1px solid var(--accent-text);
}

.theme_light .header__title {
  color: var(--page-title);
  text-shadow: 4px 4px 0px var(--title-decor);
}

.theme_light .accent-word {
  text-shadow: 2px 1px 0px var(--title-decor);
}

.theme_light .article-1__title,
.theme_light .article-2__title,
.theme_light .article-3__title {
  color: var(--accent-text);
}

.theme_light .article-1__object,
.theme_light .article-2__object,
.theme_light .article-3__object {
  color: var(--accent-text);
}

.theme_light .article-1__object-text,
.theme_light .article-2__object-text,
.theme_light .article-3__object-text {
  color: var(--articles-text);
}

.theme_light .article-3__object-action {
  color: var(--accent-text);
}

.theme_light .footer__title,
.theme_auto .footer__title {
  color: var(--page-title);
  text-shadow: 2px 2px 0px var(--title-decor);
}

@media (prefers-color-scheme: light) {
  .theme_light .rec,
  .theme_auto .rec {
    display: none;
  }

  .page {
    --accent-text: #353430;
    --title-decor: #ff8dcb;
    --articles-text: #353430;
    --title-decor-text: #353430;
    --bg-page: #fff1f7;
    --page-title: #ffc2e6;
    --title-shadow: #ff8dcb;
    --title-shadow-desktop: #ff0070;
    background-color: var(--bg-page);
    background-size: cover;
    background-attachment: fixed;
  }

  .header {
    background-image: url(../images/cover-image-light.png);
  }

  .header__title {
    color: var(--page-title);
    text-shadow: 4px 4px 0px var(--title-shadow);
  }

  .theme_light .decorated-zone::before,
  .theme_auto .decorated-zone::before {
    border-inline-end: 1px solid var(--title-decor-text);
    border-block-start: 1px solid var(--title-decor-text);
  }

  .theme_light .decorated-zone::after,
  .theme_auto .decorated-zone::after {
    border-inline-start: 1px solid var(--title-decor-text);
    border-block-end: 1px solid var(--title-decor-text);
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.40);
  }

  button:focus-visible {
    border-block-end: 1px solid var(--title-decor-text);
    outline: none;
  }

  .accent-word:hover {
    border-block-end: 2px solid var(--accent-text);
  }

  .accent-word:focus-visible {
    outline: 1px solid var(--accent-text);
  }

  .footer__title {
    text-shadow: 2px 2px 0px var(--title-shadow);
  }

  @media (min-width: 900px) {
    .header__title {
      text-shadow: 4px 4px 0px var(--title-shadow-desktop);
    }
  
    .footer__title {
      text-shadow: 2px 2px 0px var(--title-shadow-desktop);
  }
}
}

@media (min-width: 900px) {
  .theme_light .header__title {
    text-shadow: 4px 4px 0px var(--title-shadow-desktop);
  }

  .theme_light .footer__title {
    text-shadow: 2px 2px 0px var(--title-shadow-desktop);
  }
}